/* page wrapper */
.profile {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fbf7cc;
  padding: 8vw;
}

/* text section */
.intro {
  width: 45%;
  top:50px;
}

.name {
  font-size: 1.4vw;
  margin-bottom: 1vw;
}

.role {
  font-size: 4.8vw;
  font-weight: 800;
  line-height: 1.1;
}

.email {
  font-size: 1.2vw;
  margin: 2vw 0;
}

/* resume button */
.resume {
  padding: 0.8vw 2.5vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  background: #f4ee7b;
  border: none;
  cursor: pointer;
}

/* image container (NO BORDER) */
.imagebox {
  position: absolute;
  right: 8%;
  top: 10%;
  width: 38%;
  max-width: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* actual image */
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
